.addSocialButton {
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: rgba(#3e85fd, 0.87);
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 40px;
}

.buttons {
	display: flex;
	justify-content: space-between;
}
