@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300;400;500;600;700&display=swap');

$accent: #0063ff;
$black: #1b1b1b;
$gray: #999999;
$gray-light-bg: #fafafa;
$gray-bg: #eeedf2;
$white: #ffffff;

$default-font: 'Inter', sans-serif;
